@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.bg-dark-img {
  background: url("https://wallpaperaccess.com/full/334698.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: white;
}

.cool {
    background-image: linear-gradient(
            85deg,
            hsl(240deg 20% 64%) 0%,
            hsl(268deg 16% 58%) 7%,
            hsl(301deg 12% 51%) 11%,
            hsl(326deg 16% 48%) 14%,
            hsl(342deg 19% 44%) 18%,
            hsl(355deg 21% 40%) 21%,
            hsl(8deg 26% 35%) 26%,
            hsl(18deg 32% 28%) 33%,
            hsl(29deg 39% 22%) 42%,
            hsl(40deg 46% 17%) 59%,
            hsl(54deg 53% 12%) 100%
    );
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
